@media all and (max-height: 900px) {
  .character-data {
    display: flex;
    flex-direction: column;
    z-index: 2;
    transform: translate(0,20rem);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px); 
    width: 19.65rem;
  }

  .character-data p {
    transform: translate(5px, 0);
    font-size: 1rem;
    line-height: normal;
    text-shadow: none;
  }
}